html{
  background: #ffffff;  
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;   
}

header{
  padding:2px 0;
  background: #000000;
  height: 50px;
}

nav{
  max-width: 1000px;
  padding: 0 2%;
  margin: 0 auto;
  height: 50px;
  text-align: right;  
}

article{
  padding: 20px;
  max-width: 1000px;
  background: #fff;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.dados{
  width: 80%;
  float: right;
}
.nome{
  width: 100%;
  text-align: center;
  float: left;
  font-size: 2rem;
  margin: auto;
}
.dados-pessoais{
  width: 100%; 
  font-size: 1.5rem;
}
.dados-pessoais ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

img{
  max-width: 20%;
  margin: auto;
}

.conteudo{
  width: 100%;
  margin-top: 5px;
  font-size: 1.5rem;
}

.titulo {
  font-size: 1.5rem;
  position: relative;
  color: #000;
}

.titulo:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #000;
}
footer{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  article{
    padding: 20px;
    margin-top: 0px;
    flex-direction: column;
    display: flex;
    box-shadow: 0 0 0;
  }
  .dados{
    width: 100%;
  }
  .nome {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    float: left;
  }
  .dados-pessoais{    
    font-size: 1rem;
    float: left;
  }
  .dados-pessoais ul{
    list-style: none;
    padding: 0px;
  }
  .conteudo{
    width: 100%;
    margin-top: 5px;
    font-size: 1rem;
  }
}